fluxo-monitoramento.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9385b48e-c6a1-4a33-8b6e-d976c445eb3c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/status/500",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "0eac5664-82a7-4ccb-9306-0fb5d59c567f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "log_monitoramento",
          "mode": "list",
          "cachedResultName": "log_monitoramento"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "servico": "API httpbin",
            "status_http": "={{ $json.statusCode }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_http",
              "displayName": "status_http",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "09374440-12b9-4596-9a5c-5691e31d6771",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "JTmrLGzXSSFACtJG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e28fb220-97fd-45c9-8f96-515faf84e43d",
              "leftValue": "={{ $('HTTP Request').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "a2fd4278-267a-47b1-96ac-5ab72a896368",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚨 **ALERTA CRÍTICO DE INFRAESTRUTURA** 🚨\n**Serviço Afetado:** API de Teste\n**Status Retornado:** {{ $('HTTP Request').item.json.statusCode }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "b4e87cf3-e92e-4085-8c75-89cdf3ea01da",
      "name": "Discord",
      "webhookId": "133b9c96-3061-40d1-ae10-581eeec1da3f",
      "credentials": {
        "discordWebhookApi": {
          "id": "JYSqxTmC6VAoF9ii",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1559bd35-499d-49d1-8217-1158309516d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a73b84cd7d3779beaa05c49e66bf8acd7a58861968c705b49e5b8dad6c920130"
  },
  "id": "_fYu9kniAsNG61xr89CV0",
  "tags": []
}